**1 Повтор строки**

Дано предложение и количество раз, сколько его надо повторить. Напишите программу, которая повторяет данное предложение нужное количество раз.

**Формат входных данных**
В первой строке записано текстовое предложение, во второй — количество повторений.

In [2]:
text = input("Enter a text: ")
n = int(input("Enter a number: "))
for i in range(n):
    print(text)

a

**2 Звездный прямоугольник**

На вход программе подается натуральное число n. Напишите программу, которая печатает звездный прямоугольник размерами n×8.

**Формат входных данных**
На вход программе подаётся натуральное число n — высота звездного прямоугольника.

In [3]:
n = int(input('Enter a number: '))
for i in range(n):
    print('*' * 8)

********
********
********

**3 Квадрат числа**

На вход программе подаётся натуральное число n. Напишите программу, которая для каждого из чисел от 0 до n (включительно) выводит текст в следующем формате:

Квадрат числа <текущее число> равен <квадрат текущего числа>

**Формат входных данных**
На вход программе подаётся натуральное число n.

In [4]:
n = int(input('Enter a number: '))
for i in range(n + 1):
    print(f'Power of {i} is {i ** 2}')

Power of 0 is 0
Power of 1 is 1
Power of 2 is 4
Power of 3 is 9
Power of 4 is 16
Power of 5 is 25

**4 Таблица умножения**

Дано натуральное число n. Напишите программу, которая выводит таблицу умножения на n (от 1 до 10 включительно).

**Формат входных данных**
На вход программе подаётся натуральное число n.

In [5]:
n = int(input('Enter a number: '))
for i in range(1, 11):
    print(f'{n} x {i} = {n * i}')

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

**5 Последовательность чисел**

Даны два целых числа m и n. Напишите программу, которая выводит все целые числа от m до n включительно в порядке возрастания, если m < n, или в порядке убывания в противном случае. Числа выводятся на 1 строке.

**Формат входных данных**:
На вход программе подаются два целых числа m и n, каждое на отдельной строке

In [8]:
num1 = int(input('Enter a first number: '))
num2 = int(input('Enter a second number: '))
for i in range(num2, num1, -1):
    print(i)

20
19
18
17
16

**6 Сумма чисел**

На вход программе подается натуральное число n. Напишите программу, которая подсчитывает сумму тех чисел от 1 до n (включительно), квадрат которых оканчивается на 2, 5 или 8.

**Формат входных данных**:
На вход программе подаются одно натуральное число.

In [9]:
n = int(input("Enter a natural number: "))
total_sum = 0

for i in range(1, n + 1):
    square = i ** 2
    if square % 10 in [2, 5, 8]:
        total_sum += i

print(total_sum)

500

**7 Без нулей**

Напишите программу, которая считывает 5 чисел и выводит произведение отличных от нуля чисел.

**Формат входных данных**:
На вход программе подаются 5 целых чисел, каждое на отдельной строке.

In [10]:
number1 = int(input("Enter 1-number: "))
number2 = int(input("Enter 2-number: "))
number3 = int(input("Enter 3-number: "))
number4 = int(input("Enter 4-number: "))
number5 = int(input("Enter 5-number: "))

total = 1

total *= number1 if number1 != 0 else 1
total *= number2 if number2 != 0 else 1
total *= number3 if number3 != 0 else 1
total *= number4 if number4 != 0 else 1
total *= number5 if number5 != 0 else 1
print(total)

16

**8 Сумма делителей**

На вход программе подается натуральное число n. Напишите программу, которая вычисляет сумму всех его делителей.

**Формат входных данных**:
На вход программе подается натуральное число n.

In [1]:
number = int(input("Enter a number: "))
total = 0
for i in range(1, number + 1):
    if number % i == 0:
        total += i
print(total)

93

**9 Наибольшие числа (задача чуть сложнее остальных) ❗**

На вход программе подается натуральное число n (гарантируется, что n >= 2), а затем n различных натуральных чисел последовательности, каждое на отдельной строке. Напишите программу, которая выводит наибольшее и второе наибольшее число последовательности.

**Формат входных данных**:
На вход программе подаются натуральное число n≥2, а затем n различных натуральных чисел, каждое на отдельной строке.

In [3]:
number = int(input("Enter a number: "))
list_ = []
while number:
    a = int(input("Enter a number: "))
    list_.append(a)
    number -= 1

print(max(list_))
list_.remove(max(list_))
print(max(list_))

11
10

**10 Сумма чисел**

На вход программе подается последовательность целых чисел, каждое число на отдельной строке. Признаком окончания последовательности является любое отрицательное число, при этом в саму последовательность оно не входит. Напишите программу, которая выводит сумму всех членов данной последовательности.

**Формат входных данных**:
На вход программе подается последовательность чисел, каждое число на отдельной строке.

In [ ]:
# Входные данные:
1
2
3
4
5
6
7
8
9
10
-5

# Вывод программы:
55

**11 Пока делимся**

На вход программе подается последовательность целых чисел делящихся на 7, каждое число на отдельной строке. Концом последовательности является любое число, не делящееся на 7 (само это число в последовательность не входит, лишь символизируя её конец). Напишите программу, которая выводит члены данной последовательности.

**Формат входных данных**:
На вход программе подается последовательность чисел, каждое число на отдельной строке.

In [ ]:
# Входные данные:
49
2401
4809
0
2

# Вывод программы:
49
2401
4809
0

**12 Количество пятёрок**

На вход программе подается последовательность целых чисел от 1 до 5, каждое число на отдельной строке. Концом последовательности является любое неположительное число либо число, большее 5. Напишите программу, которая выводит количество пятерок.

**Формат входных данных:**
На вход программе подается последовательность чисел, каждое число на отдельной строке.

In [ ]:
# Входные данные:
5
5
4
2
-9

# Вывод программы:
2

**13 Обратный порядок**

Дано натуральное число. Напишите программу, которая меняет порядок цифр числа на обратный.

**Формат входных данных:**
На вход программе подается одно натуральное число.

In [ ]:
# Входные данные:
5086334

# Вывод программы:
4336805

**13 max и min**

Дано натуральное число n(n≥10). Напишите программу, которая определяет его максимальную и минимальную цифры и выводит текст в следующем формате:

Максимальная цифра равна <максимальная цифра>

Минимальная цифра равна <минимальная цифра>

**Формат входных данных:**
На вход программе подается одно натуральное число большее или равное 10.

In [ ]:
#Входные данные:
26670

#Вывод программы:
Максимальная цифра равна 7
Минимальная цифра равна 0

**14 Одинаковые цифры**

Дано натуральное число. Напишите программу, которая определяет, состоит ли указанное число из одинаковых цифр.

Программа должна вывести «YES» если число состоит из одинаковых цифр и «NO» в противном случае.

**Формат входных данных:**
На вход программе подается одно натуральное число.

In [ ]:
# Входные данные:
11111

# Вывод программы:
YES

# Входные данные:
11211

# Вывод программы:
NO

**15 Наименьший делитель**

На вход программе подается число n>1. Напишите программу, которая выводит его наименьший отличный от 1 делитель.

**Формат входных данных**:
На вход программе подается одно натуральное число n.

In [ ]:
# Входные данные:
17

# Вывод программы:
17

# Входные данные:
9

# Вывод программы:
3

**16 Таблица цифр**

Даны натуральные числа n и m, оба из которых не больше 9. Напишите программу, которая печатает таблицу размером n на m, где n - количество строк таблицы. Каждая строка таблицы содержит числа от 1 до m включительно, разделенные пробелом.

**Формат входных данных:**
На вход программе подаются два натуральных числа, каждое на отдельной строке.

In [ ]:
#Входные данные:
3
5

#Вывод программы:
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

#Входные данные:
4
2

#Вывод программы:
1 2
1 2
1 2
1 2

**17 Численный треугольник**

Дано натуральное число n. Напишите программу, которая печатает численный треугольник в соответствии с примером:

1

22

333

4444

55555

...

**Формат входных данных**:
На вход программе подается одно натуральное число n.

In [ ]:
# Входные данные:
4
# Вывод программы:
1
22
333
4444

**18 простые числа (задача чуть сложнее остальных) ❗**

На вход программе подается два натуральных числа a и b (a < b). Напишите программу, которая находит все простые числа от a до b включительно.
**Примечание - число 1 простым не является.**


**Формат входных данных**:
На вход программе подаются два целых числа a и b (a≤b).

In [ ]:
# Входные данные:
1
10
# Вывод программы:
2
3
5
7

**19 Сумма делителей (задача чуть сложнее остальных) ❗**

На вход программе подаются два натуральных числа a и b (a< b). Напишите программу, которая находит натуральное число из отрезка [a;b] (от a до b включительно) с максимальной суммой делителей. Если чисел с максимальной суммой делителей несколько, то искомым числом является наибольшее из них. Ваша программа должна выводить ответ в следующем формате:

<число с максимальной суммой делителей> <сумма делителей этого числа>


**Формат входных данных**:
На вход программе подаются два числа, каждое на отдельной строке.

In [ ]:
#Входные данные:
1
100
#Вывод программы:
96 252